@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Comic+Relief:wght@400;700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Playwrite+IT+Moderna:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofadi+One&family=Tagesschrift&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Comic Relief", system-ui;
    background-color: #333;
    color: #fff;
}

#navigation > div{
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
    border-radius: 50px;
}

#navigation > div:last-of-type{
    width: 25px;
}

#navigation:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    cursor: pointer;
}

header{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-style: italic;
    height: 40px;
}

#content{
    min-height: calc(100vh - 60px);
    display: flex;
}

/* navigations */

nav{
    width: 10rem;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-right-radius: 10px;
    padding: 10px;
    overflow: hidden;
}

.project-btn {
    display: inline-block;
    max-width: 8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}  

.hide-nav{
    display: none;
}

.hide-nav nav{
    width: 0;
    overflow: hidden;
    padding: 0;
}

.btn{
    font-size: 1.1rem;
    height: 20px;
}

.btn{
    display: block;
    background: none;
    border: none;
    color: #fff;
    font-style: italic;
    margin: 10px;
    cursor: pointer;
}

#delete-project-btn{
    margin-top: 20px;
}

.btn.close-pop-up{
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    font-size: 1.6rem;
}

.btn:hover:not(.btn.close-pop-up){
    color: #cdcdcd;
    border-bottom: 2px solid #cdcdcd;
}

.fa-add{
    font-size: 1rem;
}

h2{
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

/* content styles */

#inner-content{
    padding: 10px;
    flex: 1;
    transition: all 0.6s ease-out;
    width: 100%;
}

/* pop_ups */

.pop-ups{
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100vw;
    backdrop-filter: blur(5px);
    text-align: center;
}

.pop-ups p{
    overflow: auto;
    width: 80vw;
}

#decrip-p{
    max-height: 10rem;
}

.pop-ups p,
input:not(input[type="radio"]),
textarea{
    display: block;
    margin: 10px 0;
    outline: none;
    background: #444;
    color: #fff;
    border: none;
    padding: 5px;
}

input:not(input[type="radio"]),
textarea{
    height: 2rem;
    width: 13rem;
}

input[type="radio"]{
    cursor: pointer;
    width: 20px;
    height: 17px;
    vertical-align: middle;
}

#checkboxx{
    margin-left: 10px;
    width: 20px;
    display: inline;
    vertical-align: middle;

}

.flex{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

form button{
    padding: 5px;
    border-radius: 5px;
    min-width: 40px;
}

form button:hover{
    background-color: #cdcdcd;
}

.hidden{
    display: none;
}

#add-task-btn,
#add-project-btn{
    transform: translateX(20px);
}

p{
    display: inline-block;
}

.x-btn{
    display: inline;
    margin: 0;
    cursor: pointer;
}

#inner-content > div{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 5px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    width: 100%;
    padding: 5px;
}

#inner-content > div:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 10px; 
}

.priority{
    margin: 0 5px;
}

.active-btn{
    font-weight: 900;
    border-bottom: 3px dotted rgba(255, 255, 255, 0.5);
    width: 90%;
    text-align: start;
}

h3{
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-size: 1rem;
}

h3 > span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px; 
    padding-right: 4px;
    display: inline-block;
    vertical-align: middle; /* this is responsible for aligning inline 
                                -block level elements to be the same line
                                with other inline text */
}

@media (max-width: 640px) {
    .task {
        font-size: 0.8rem;
    }

    .task > .title{
        width: 7rem;
    }

    .task > span{
        font-size: 0.5rem;
    }

    nav{
        width: 33%;
    }
    .btn{
        font-size: 0.8rem;
        height: 20px;
    }
    #inner-content{
        width: 60%;
    }


    .project-btn {
        max-width: 87%;
    } 

    #add-project-btn{
        margin-left: 0;
    }

    h2{
        font-size: 1rem;
    }
}